/* the stles thatfollo are the styles for the navbar ftyles  */
@media only screen and (min-width:1px){
.mobile{
  display: flex;
}
.App{
  padding:2em 1.5em;
  background: rgba(248, 245, 245, 1);
}
.desktop{
  display: none;
}
.navlinks-mobile{
  display: none;
    top:5em;
    width: 87vw;
    background:rgba(0, 0, 0, 0.9);
}
.navlink {
  font-weight:500;
  color :white;
  text-align:center;
  margin-bottom:0.7em;
}
.close{
  left:18em;
}
.show{
   display: block;
}
/* the styles that pfor the mainbafr */
.hero-img{
  margin:1em 0em;
}
.hero-pic{
width: 20em;
}
.main-section-btn{
  margin:0 auto;
  width: 42%;
}
.dayjokes-div,.jokescategory-div,.Testimony{
  /* border: solid 1px black;   */
  background: white;
}
.jokes-emoji-div{
  margin:0 auto;
}
.Footer{
  background: rgba(0, 0, 0, 0.75);
  color: white;
}
.icon{
  padding-left: 1em;
}
}

@media only screen and (min-width:768px){ 
  .mobile{
    display: none;
  }
  .App{
    padding:2em 6em;
  }
.desktop{
  display: flex;
}
.navlink {
  font-weight:500;
  color :black;
  margin-bottom:0.7em;
}

}
