/* the stles thatfollo are the styles for the navbar ftyles  */
@media only screen and (min-width:1px){
.mobile{
  display: flex;
  border: solid 1px black;
}
.desktop{
  display: none;
}
.navlinks-mobile{
  /* display: none; */
    border: solid 1px black;
    top:5em;
    width: 89vw;
    background:rgba(0, 0, 0, 0.9);
    /* opacity:0.9; */
}
.navlink {
  font-weight:500;
  color :white;
  text-align:center;
  margin-bottom:0.7em;
}
}